#root {
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
}

.button {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  filter: brightness(95%);
}

.location-bg {
  background-image: url(/src/assets/images/desktop/locationbg6.webp);
  background-size: cover;
  background-position-y: -20px;
  background-repeat: no-repeat;
}

.membership_bg {
  background-image: url(/src/assets/images/desktop/membership_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about_yourself_bg {
  background-image: url(/src/assets/images/desktop/about_yourself_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.review_and_pay_bg {
  background-image: url(/src/assets/images/desktop/review_and_pay_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.congratulations_bg {
  background-image: url(/src/assets/images/desktop/congratulationsBG.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 20px;
}

.custom-calendar {
  top: 50%;
  left: 26%;
}

@media (min-width: 1536px) {
  .custom-calendar {
    left: 28% !important;
  }
}

@media (min-width: 1920px) {
  .custom-calendar {
    left: 26% !important;
    top: 55%;
  }
}




