#root {
  margin: 0 auto;
  font-family: 'Kanit', sans-serif;
}


.button {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  filter: brightness(95%);
}